<h1 class="text-center">User n°<%= @user.id %></h1>
<%= render 'users/user_card', user: @user %>

<section class="card-events">
	<h2>Mes évenements</h2>
	<div class="row">
		<% @user.organized_events.sort_by{ |event| event.start_date }.each do |event| %>
			<%= render 'shared/event-card', event: event %>
		<% end %>
	</div>
</section>

	<div class="row">
		<div class="col">

			<h2>Events as participant</h2>

			<table class="table bg-white">
			  	<thead>
				    <tr class="table-info">
				      	<th>id</th>
				      	<th>title</th>
				      	<th>start_date</th>
				      	<th>duration</th>
				      	<th>price</th>
				      	<th>location</th>
				      	<th>admin</th>
				      	<th colspan="4"></th>
				    </tr>
			  	</thead>

			  	<tbody>
				    <% @user.events.sort_by{ |event| event.start_date }.each do |event| %>
				      	<tr>
					        <td><%= event.id %></td>
					        <td><%= event.title %></td>
					        <td><%= event.convert(event.start_date) %></td>
					        <td><%= event.duration %></td>
					        <td><%= event.price %></td>
					        <td><%= event.location %></td>
					        <td><%= link_to event.admin.email, admin_user_path(event.admin) %></td>

					        <td><%= link_to 'Show event', admin_event_path(event), class:"btn btn-info" %></td>
					        <td><%= link_to 'Edit event', edit_admin_event_path(event), class:"btn btn-primary" %></td>
					        <td><%= link_to 'Destroy event', admin_event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
					        <td><%= link_to 'Destroy attendance', admin_event_attendance_path(event, event.attendances.find_by(participant: @user)), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
				      	</tr>
				    <% end %>
			  	</tbody>
			</table>
		</div>
	</div>
